  * {
    font-family: sans-serif;
  }
  
  .container {
    margin: 30px;
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
  }

  .container h1{
    border-radius: 5px;
    background-color: lightgray; 
    text-align: center;
  }

  .character {
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px;
    background-color: lightgray; 

  }
  
  .character h2 {
    text-align: left;
  }